#box{
    padding-left: 5px;
    margin-top: 10px;
    width: 100%;
    border: 2px solid rgb(163, 188, 224);
    border-radius: 10px;
    margin-left: 70px;
}
#box-hd{
      padding-left: 10px;
      padding-right: 10px;
      margin-top: 10px !important;
      margin-bottom: 10px;
      font-size: small;
}
