body{
    padding: 0;
    margin: 0;
}

#BillContainer {
    margin-top: 100px;
}

#BillContainer table {
    width: 100%;
    padding: 0;
}

#BillContainer table td {
    padding: 5px;
    text-align: center;
}

#titleInfo{
    font-size: 15px;
    font-weight: 700;
    font-family: sans-serif;
}
ul {
    padding: 2px 5px;
    text-align: justify;
}
li {
    list-style: none;
    font-size: 14px;
}
#BillContainer button {
    width: 100%;
}