body {
    padding: 0;
    margin-top: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#ProductContainer {
    margin-top: 100px;
    padding: 0px 0px 0px 10px;
    margin-bottom: 100px;
}
#DisplayProduct #titleBox {
    background-color: #115353;
    color: #ffffff;
    font-size: 18px;
    padding: 8px 0px;
    top: 50%;
}

#titleBox span {
    position: relative;
    top: 15%;
}
#titleBox button {
    padding: 5px 5px;
    float: right;
    right: 0%;
}
#dataBox {
    padding: 0;
}
#dataBox table {
    text-align: center;
}
#dataBox td {
    padding: 5px 2px 5px 2px;
}
.showInfo {
    cursor: pointer;
}
#InfomationBox ul {
    list-style: none;
}
#InfomationBox li {
    width: 100%;
}
#InfomationBox label,
#InfomationBox input[type="text"],
#InfomationBox textarea,
#InfomationBox select{
    width: 100%;
    font-size: 18px;
}

#InfomationBox input[type="radio"] {
    margin-left: 20px;
}
#InfomationBox label {
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    font-weight: 700;
}
#InfomationBox #titleBox span {
    font-size: 20px;
}
#action {
    margin-top: 10px;
}
#action button {
    width: 100%;
}